#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: gray;
    -fx-text-fill: white;
}

#copyButton:hover {
    -fx-background-color: dimgray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#f5f5f5, 20%);
}
